* {
    background-color: #595a4a;
    color: #8FBB99;
    box-sizing: border-box;
    overflow: hidden;
}

.row {
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 600px){
    /* For mobile */
    [class*="col-"] {
        float: left;
        width: 100%;
      }
    body {
        margin-left: 15px;
    }
    .menu
    {
        margin-top: 20px;
        padding-bottom: 5px;
        width: 100%;
    }
    .menu-button
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: #8FBB99;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 0px;
        width: 90%;
        height: 50px;
        border-radius: 25px;
        border: 5px dashed #363635;
    }
    .menu-button:hover
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: rgb(210, 236, 236);
        background-color: #363635;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 0px;
        width: 90%;
        height: 50px;
        border-radius: 25px;
    }
    .profile-button
    {
        position: fixed;
        top: 15px;
        right: 15px;
        width: 150px;
        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: #8FBB99;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
    }
    .profile-button:hover
    {
        position: fixed;
        top: 15px;
        right: 15px;
        width: 150px;

        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: rgb(210, 236, 236);
        background-color: #363635;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
        border-radius: 20px;
    }
    .login-form
    {
        text-align: left;
        border: thick solid #032e09;
        padding: 15px;
        width: 90%;
        margin: 10px;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 601px){
    /* For tablets */
    [class*="col-"] {
        float: left;
      }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    body {
        margin-left: 150px;
        margin-right: auto;
        width: 90%;
    }
    .menu
    {
        margin-top: 50px;
        padding-bottom: 10px;
        border-bottom: 5px solid #363635;
    }
    .menu-button
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: #8FBB99;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        width: 150px;
    }
    .menu-button:hover
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: rgb(210, 236, 236);
        background-color: #363635;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        width: 150px;
        border-radius: 20px;
    }
    .profile-button
    {
        position: fixed;
        top: 15px;
        /* left: 55%; */
        right: 15px;
        width: 150px;
        height: 75;
        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: #8FBB99;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
        border-radius: 20px;
    }
    .profile-button:hover
    {
        position: fixed;
        top: 15px;
        right: 15px;
        width: 100px;
        height: 75;
        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: rgb(210, 236, 236);
        background-color: #363635;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
        border-radius: 20px;
    }
    .login-form
    {
        text-align: left;
        border: thick solid #032e09;
        padding: 15px;
        width: 400px;
        margin: auto;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 800px) {
    /* For desktop */
    [class*="col-"] {
        float: left;
      }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    body {
        /* margin-left: 150px; */
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
    .menu
    {
        margin-top: 50px;
        padding-bottom: 10px;
        border-bottom: 5px solid #363635;
    }
    .menu-button
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: #8FBB99;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        width: 150px;
    }
    .menu-button:hover
    {
        float: left;
        text-decoration: none;
        text-align: center;
        font-size: large;
        font-weight: bold;
        color: rgb(210, 236, 236);
        background-color: #363635;
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 25px;
        padding: 5px;
        width: 150px;
        border-radius: 20px;
    }
    .profile-button
    {
        position: fixed;
        top: 15px;
        left: 55%;
        width: 150px;
        height: 75;
        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: #8FBB99;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
    }
    .profile-button:hover
    {
        position: fixed;
        top: 15px;
        left: 55%;
        width: 150px;
        height: 75;
        text-decoration: none;
        text-align: center;
        font-size: small;
        font-weight: normal;
        color: rgb(210, 236, 236);
        background-color: #363635;
        padding: 5px;
        margin-top: 5px;
        margin-right: 10px;
        width: 100px;
        border-radius: 20px;
    }
    .login-form
    {
        text-align: left;
        border: thick solid #032e09;
        padding: 15px;
        width: 600px;
        margin: auto;
        margin-top: 30px;
    }
}

.logo
{
    margin-top: 10px;
    font-size: 36px;
    color: #B0FE76;
    font-weight: bolder;
}

.content
{
    margin-top: 30px;
    font-size: medium;
    width: 750px;
}

.small-text
{
    font-size: small;
}

.shopping-lists {
    margin: auto;
    
    text-align: left;
}

.error {
    color: red;
    font-size: large;
}

.details-link {
    color: #8FBB99;
    text-decoration: none;
    border-bottom: solid #363635;
    padding: 2px;
}

.details-link:hover {
    color: #363635;
    text-decoration: none;
    border-bottom: solid #363635;
    padding: 2px;
}

.list-item {
    padding: 5px;
}

.btn-create {
    margin-top: 5px;
    color: #8FBB99;
    font-weight: bold;
    background-color: green;
    border: 3px solid #363635;
}

.btn-create:hover {
    margin-top: 5px;
    color: #363635;
    font-weight: bold;
    background-color: #8FBB99;
    border: 3px solid #8FBB99;
}

.input-field {
    width: 400px;
    margin-bottom: 5px;
    color: #595a4a;
    font-weight: bold;
    background-color: lightgreen;
    border: 2px solid #363635;
}

.input-field:focus {
    margin-bottom: 5px;
    color: #363635;
    font-weight: bold;
    background-color: lightgrey;
    border: 2px solid #363635;
}

.btn-edit {
    margin-left: 10px;
}

.btn-logout {
    margin-top: 5px;
    padding: 5px;
    height: 50px;
    color: #8FBB99;
    font-weight: bold;
    /* border: 3px solid #363635; */
}

.btn-logout:hover {
    margin-top: 5px;
    padding: 5px;
    height: 50px;
    color: #B0FE76;
    font-weight: bold;
}